@model PaginationInfosViewModel

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var prevPage = Model.CurrentPage - 1;
    var nextPage = Model.CurrentPage + 1;
    var activePage = "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a asp-route-pageIndex="@prevPage" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            activePage = Model.CurrentPage != i ? "" : "active";

            <li class="page-item @activePage">
                <a asp-route-pageIndex="@i" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-route-pageIndex="@nextPage" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>